MYSQL_DATABASE=lease
MYSQL_USER=lease
MYSQL_PASSWORD=lease
MYSQL_ROOT_PASSWORD=lease-root

REDIS_PASSWORD=
RABBITMQ_USER=lease
RABBITMQ_PASSWORD=lease

MINIO_ACCESS_KEY=lease-admin
MINIO_SECRET_KEY=lease-admin-12345
MINIO_BUCKET=lease

PG_DATABASE=lease_vec
PG_USER=lease
PG_PASSWORD=lease

AI_BASE_URL=https://open.bigmodel.cn/api/paas/v4
AI_CHAT_API_KEY=
AI_EMBED_API_KEY=
AI_CHAT_MODEL=glm-4-flash
AI_EMBED_MODEL=embedding-3
AI_EMBED_DIM=1024

DEMO_LOGIN_ENABLED=true
DEMO_LOGIN_PHONE=13800000000
DEMO_LOGIN_CODE=888888
